html,
body {
	@apply h-full overflow-hidden;
}

.gradient-heading {
	@apply bg-clip-text text-transparent box-decoration-clone;
	/* Direction */
	@apply bg-gradient-to-br;
	/* Color Stops */
	@apply from-primary-400 via-primary-600 to-primary-900;
	/* @apply from-primary-500 via-secondary-500 to-primary-500; */
}
